---
name: healthchecks
version: 3.1.2
slug: healthchecks
description: |
  Healthchecks is a watchdog for your cron jobs.
  It's a web server that listens for pings from your cron jobs, plus a web interface.
arch:
  - aarch64
  - amd64
image: "ghcr.io/bluemaex/ha-addons-healthchecks-{arch}"
startup: system
url: https://github.com/bluemaex/home-assistant-addons/tree/master/healthchecks
init: false
ingress: true
ingress_port: 8000
panel_icon: mdi:timer-check-outline
ports:
  8000/tcp: null
  2525/tcp: 2525
ports_description:
  8000/tcp: Healthchecks Web UI
  2525/tcp: Port for inbound SMTP pings
map:
  - config
  - ssl
options:
  env_vars: []
schema:
  env_vars:
    - str?
