---
name: Grafana Loki
version: 3.0.6
slug: grafana-loki
description: |
  Grafana Loki is a horizontally-scalable, highly-available, multi-tenant log aggregation system inspired by Prometheus
arch:
  - aarch64
  - amd64
image: "ghcr.io/bluemaex/ha-addons-loki-{arch}"
startup: system
url: https://github.com/bluemaex/home-assistant-addons/tree/master/loki
init: false
ports:
  3100/tcp: 3100
ports_description:
  3100/tcp: Loki listen port
panel_icon: mdi:router-network
map:
  - config
  - share
options:
  days_to_keep: 30
  log_level: info
schema:
  days_to_keep: int(1,)?
  config_path: str?
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
